@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap');

body {
    background-image: url("bg2.jpg");
    background-size: 100%;
}

header {
    background: rgb(51, 2, 131);
    background: radial-gradient(circle, rgba(51, 2, 131, 0.950315160243785) 0%, rgba(203, 5, 199, 0.13518910982361698) 43%, rgba(169, 7, 232, 0.32566530029980745) 100%);
}

.titulo {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 2.375rem;
    font-weight: 700;
    line-height: 1ch;  
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="date"]
{
    background: #fff;
    width: 130px;
    height: 37px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
}

input[type="submit"]
{
    position: relative;
    left: -1px;
    border-radius: 0 25px 25px 0;
    width: 70px;
    height: 37px;
    border: none;
    outline: none;
    cursor: pointer;
    background:rgba(51, 2, 131, 0.950315160243785);
    color: white;
    font-family: 'Poppins', sans-serif;
}

input[type="submit"]:hover {
    background: rgba(169, 7, 232, 0.32566530029980745);

}

.hidden {
    display: none;
}

.container {
    width: 50%;
    height: auto;
    margin: 0 38%;
}

.picture {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.video {
    height: auto;
    width: 100%;
}

.box {
    margin: 25px 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

#nome {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: rgba(169, 7, 232, 0.32566530029980745);
}
